<div class="row">
	<div class="col-sm-3">
		<img class="img-responsive" src="http://placehold.it/250/f1f1f1&text=company logo"/>
	</div>
	<div class="col-sm-9">
		<h1 style="margin-top:0">{company.name}</h1>
		<textarea ng-model="input.item.header_text" style="height:100px" class="form-control"></textarea>
	</div>
</div>