<div class="form-group">
	<label class="col-sm-2 control-label"></label>
	<div class="col-sm-10">
		<input readonly datepicker-popup="dd/MM/yyyy" ng-model="input.item._" type="text" class="form-control preview" placeholder="dd/mm/yyyy">
	</div>
</div>