

<div class="row">
	<div class="col-sm-12">
		<wysiwyg wysiwyg textarea-class="form-control" textarea-height="180px" ng-model="input.item.freetext" enable-bootstrap-title="true" textarea-menu="[
            ['bold', 'italic', 'underline', 'strikethrough', 'subscript', 'superscript'],
            ['font'],
            ['font-size'],
            ['font-color', 'hilite-color'],
            ['remove-format'],
            ['ordered-list', 'unordered-list', 'outdent', 'indent'],
            ['left-justify', 'center-justify', 'right-justify'],
            ['code', 'quote', 'paragragh'],
            ['link']
        ]"></wysiwyg>
		<!--<div title="Click to add text" class="text-editor-canvas text-center" ng-show="!input.item.freetext" ng-click="$parent.$parent.$parent.$parent.$parent.showEditorDialog(input.item)">
			Click to add text
		</div>
		<div title="Click to edit text" class="text-editor-canvas" ng-show="input.item.freetext" ng-click="$parent.$parent.$parent.$parent.$parent.showEditorDialog(input.item)" to-html-directive="input.item.freetext"></div>
		<br/>-->
	</div>
</div>
