<!---<div class="row">
	<div class="col-sm-3">
		<div upload-directive="{dialog:true, current:input.item.file, params:{as_id: $root.$routeState.params.id, dir:'form', as_type: 'F'}}" ng-model="input.item.file"></div>
		<button class="btn btn-primary" ng-click="input.item.file = false">Remove attachment</button>
	</div>

	<div class="col-sm-9">
		<div title="Click to add text" class="text-editor-canvas text-center" ng-show="!input.item.header_text" ng-click="$parent.$parent.$parent.$parent.$parent.showEditorDialog(input.item)">
			Click to add text
		</div>
		<div title="Click to edit text" class="text-editor-canvas" ng-show="input.item.header_text" ng-click="$parent.$parent.$parent.$parent.$parent.showEditorDialog(input.item)" to-html-directive="input.item.header_text"></div>
		<br/>
	</div>
</div>
-->