<div class="form-group">
		<label class="col-sm-2 control-label">Options</label>
		<div class="col-sm-5">
			<form ng-submit="options.add({label:label, value:label});label = ''">

				<ul class="form-element-options">
					<li>

						<div class="row">
							<div class="col-md-8"><input placeholder="Add new option" class="form-control" type="text" ng-model="label"/></div>
							<div class="col-md-4 text-right"><!--|| !options.columnValueExits('label', label)-->
								<div class="row">
									<div class="col-md-6">
											<button style="padding-top:2px;padding-bottom:2px;" ng-disabled="!label || options.columnValueExits('label', label)" ng-click="options.add({label:label, value:label});label = ''" class="btn btn-primary">
												<i class="fa fa-plus"></i>
											</button>
									</div>
									<div class="col-md-6">
										<span title="Select as default value">Default</span>
									</div>
								</div>
							</div>
						</div>
						<b ng-show="options.columnValueExits('label', label)" style="color:red">{{label}} already exists. Please enetr another value</b>
						<p><b>Type and hit enter</b></p>
						<hr style="margin:5px 0 8px 0"/>
					</li>
				</ul>
				<ul class="form-element-options" sortable-collection-directive="options">

					<li class="cursor" ng-repeat="i in options.get()" title="Drag this element up or down to reorder">

						<div class="row">
							<div class="col-md-8">

								<input class="form-control" type="text" ng-model="i.label" ng-change="disallowOption($index, i.label)"/>

							</div>
							<div class="col-md-4 text-right">


								<div class="row">
									<div class="col-md-6">
										<a ng-click="options.removeById($index)" style="padding-top:2px;padding-bottom:2px;" class="btn btn-default">
											<i class="fa fa-close" ></i>
										</a>
									</div>
									<div class="col-md-6" title="Select as default value">
										<input type="radio" ng-value="i.label" ng-model="input.item.defaultValue"/>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>

				<ul class="form-element-options">
					<li>
						<hr style="margin:5px 0 8px 0"/>
						<div class="row">
							<div class="col-md-8"><input placeholder="Add new option" class="form-control" type="text" ng-model="label"/></div>
							<div class="col-md-4 text-right"><!--|| !options.columnValueExits('label', label)-->
								<div class="row">
									<div class="col-md-6">
											<button style="padding-top:2px;padding-bottom:2px;" ng-disabled="!label || options.columnValueExits('label', label)" ng-click="options.add({label:label, value:label});label = ''" class="btn btn-primary">
												<i class="fa fa-plus"></i>
											</button>
									</div>
									<div class="col-md-6">
										<span title="Select as default value">Default</span>
									</div>
								</div>
							</div>
						</div>
						<b ng-show="options.columnValueExits('label', label)" style="color:red">{{label}} already exists. Please eneter another value</b>
						<p><b>Type and hit enter</b></p>
					</li>
				</ul>

			</form>
		</div>
		<div class="col-sm-5">
			<div  ng-switch="input.item.type">
				<div ng-switch-when="select">
					<select class="form-control preview">
						<option>Please select</option>
						<option ng-repeat="i in options.get()" value="{{i.value}}">
							{{i.label}}
						</option>
					</select>

				</div>
				<div ng-switch-default>
					<label class="control-label">How many options should appear in one row?</label>

					<select class="form-control" ng-init="input.item.column = input.item.column || 12 " ng-options="c.w as c.n + ' options per row' for c in columns" ng-model="input.item.column"></select>

				</div>
			</div>

		</div>
</div>