<div class="form-group">
	<label class="col-sm-2 control-label"></label>
	<div class="col-sm-10">

		<label>Region type</label>
		<select ng-model="input.item.regionType"class="form-control">
			<option value="">Please select</option>
			<option value="subform">Subform</option>
			<option value="repeatable">Repeatable list </option>
		</select>

		<br/>
		<div class="card note" ng-switch="input.item.regionType">
			<span ng-switch-when="subform">
				<p>Selecting this option means that this region will appear as a Subform.</p>
				<p>This is useful for grouping areas together</p>
			</span>
			<span ng-switch-when="repeatable">
				<p>A repeatable region enables Elogbook Entities such as Assets to be listed against a set of Master questions.</p>
			</span>
			<span ng-switch-default>
				Nothing selected
			</span>
		</div>

		<div ng-show="input.item.regionType">
			<button class="btn" ng-click="$parent.$parent.$parent.$parent.$parent.showSettingsDialog(input.item)">Configure subform</button>

			<br/><br/>
			<table class="table">
				<thead><th>Question/Element</th><th>Type</th></thead>
				<tbody>
					<tr ng-repeat="i in input.item.subform">
						<td>
							<span ng-switch="i.type">
								<span ng-switch-when="header || freetext || sectionbreak ">
									---
								</span>
								<span ng-switch-default>
									{{i.question | PlaceholdFilter: 'no question'}}
								</span>
							</span>
						</td>
						<td>{{i.type}}</td>
					</tr>
				</tbody>
			</table>
			<br/>
		</div>

	</div>
</div>
