<div class="form-group" >
	<label class="col-sm-2 control-label">Options</label>
	<div class="col-sm-5">
		<table style="width:100%" class="form-element-options">
			<tr ng-repeat="i in options.get()">
				<td><input class="form-control" type="text" ng-model="i.label"/></td>
				<td><i class="fa fa-close" ng-click="options.removeById($index)"></i></td>
			</tr>
			<tr>
				<td><input class="form-control" type="text" ng-model="label"/></td>
				<td>
					<button ng-disabled="!label" ng-click="options.add({label:label});label = ''" class="btn btn-primary">
						<i class="fa fa-plus"></i>
					</button>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-sm-5">
		<select class="form-control preview">
			<option ng-repeat="i in options.get()" value="{{i.value}}">
				{{i.label}}
			</option>
		</select>
	</div>
</div>