<div class="form-group">
		<label class="col-sm-2 control-label">Services</label>
		<div class="col-sm-5">
			<select ng-options="j as j.name for j in select2Services track by j.service" class="form-control" ng-model="input.item.service"></select>
		</div>
		<div class="col-sm-5">

			<input ng-show="input.item.service.service && input.item.service.search_on"
			type="hidden"
			ui-select2='select2Suggest'
			class="form-control preview"
			ng-model="dummy"
			data-search="{{input.item.service.service}}"
			data-search-on="{{input.item.service.search_on}}"/>
		</div>
</div>