<div class="form-group">
	<label class="col-sm-2 control-label"></label>
	<div class="col-sm-10">
		<input readonly class="form-control preview" placeholder="Their answer" type="file" name="{{input.item.name}}"/>
	</div>
</div>
