<input ng-model="i.model" ng-required="i.required" class="form-control" type="{{i.type}}" name="{{i.name}}"/>
<p ng-show="i.maxlength> -1"><span ng-class="{'form-validation-error': i.maxlength == i.model.length}">{{i.model.length | PlaceholdFilter: 0}}/{{i.maxlength}}</span></p>