<div class="row">
<div class="col-sm-3">
	<div title="{{form.meta.header.logo.orig_name}}" ng-show="form.meta.header.logo">
			<div ng-if="form.meta.header.logo.source.origin.image">
				<div ng-if="form.meta.header.logo.source.origin.url">
					<a target="_blank" ng-href="{{file.source.origin.url}}">
						<img class="img-responsive" ng-src="{{form.meta.header.logo.source.origin.url}}"/>
					</a>
				</div>
				<div ng-if="!form.meta.header.logo.source.thumbnail.url && form.meta.header.logo.source.origin.url">
					<a ng-show="form.meta.header.logo" ng-href="{{form.meta.header.logo.source.origin.url}}">
						<img class="img-responsive" ng-src="{{form.meta.header.logo.source.origin.url}}"/>
					</a>
				</div>
			</div>

			<a ng-href="{{form.meta.header.logo.source.origin.url}}">
				<div ng-if="!form.meta.header.logo.source.origin.image">
						<span class="drop-box-extension">{{file.source.origin.extension}}</span>
				</div>
				{{file.orig_name | TruncateFilter: 20}}
			</a>

		</div>
</div>
<div class="col-sm-9">
	<div class="pre" to-html-directive="form.meta.header.text | TokenReplaceFilter: entity"></div>
</div>
</div>