<div class="row">
	<div class="col-md-{{i.column | PlaceholdFilter: '12'}}" ng-repeat="option in i.options">
		<label>
			<input ng-model="i.model" value="{{option.label}}" ng-required="i.required" type="{{i.type}}" name="{{i.name}}"/>
			{{option.label | TokenReplaceFilter: entity}}
		</label>
	</div>
</div>