<div ng-switch="i.regionType">

		<div ng-switch-when="repeatable">
			<!--<table class="table">
				<thead>
					<th></th>
					<th ng-repeat="el in i.subform">{{el.question}}</th>
				</thead>
				<tbody ng-init="i.submodel = {}">
					<tr ng-repeat="asset in [1,2,3,4,5,6,7,8,9]" ng-int="" expression-directive="i.submodel[asset] = {};extend(i.submodel[asset], i.subform)">
						<th>Asset {{$index}}</th>
						<td ng-repeat="i in i.submodel[$index]" expression-directive="i.no=asset">
							{{i}}
							<div require-directive="{{i.type}}FormElementTpl" require-default="defaultFormElementTpl"></div>
						</td>
					</tr>
				</tbody>
			</table>-->

			<div repeatable-region-directive="{blueprint: i.subform, data: [1,2,3,4,5], current: {}}" ng-model="i.submodel"></div>

		</div>

		<div class="subform" style="padding-left:30px" ng-switch-default>
			<div ng-repeat="i in i.subform" conditional-numbering-directive="{variable:'i'}">
				<div require-directive="elementRepeatablesTpl"></div>
			</div>
		</div>

</div>