<div class="col-sm-12"><hr style="margin-top:25px;border:1px solid #444"/>
	<div ng-show="i.sectionbreak_title" class="text-center">
		<p style="margin-bottom:25px;" class="lead">{{i.sectionbreak_title | TokenReplaceFilter: entity}}</p>
	</div>
</div>