<select ng-model="i.model" name="{{i.name}}" class="form-control">
	<option ng-repeat="options in i.options" value="{{options.label}}">
		{{options.label | TokenReplaceFilter: entity}}
	</option>
</select>