<textarea ng-if="!i.richtext" maxlength-directive="i.maxlength" rows="5" ng-model="i.model" ng-required="i.required" class="form-control"></textarea>
<div ng-if="i.richtext" richtext-directive="i.model" ng-required="i.required"></div>

<!--<span word-counter-directive="{type:'character', limit: i.maxlength}" ng-model="i.model"></span>-->
<p ng-show="i.maxlength> -1"><span ng-class="{'form-validation-error': i.maxlength == i.model.length}">{{i.model.length | PlaceholdFilter: 0}}/{{i.maxlength}}</span></p>