<div class="ng-wig">
  <ul class="nw-toolbar">
    <li class="nw-toolbar__item">
      <button type="button" class="nw-button nw-button--header-one" title="Header" ng-click="execCommand('formatblock', '<h1>')"></button>
    </li><!--
    --><li class="nw-toolbar__item">
      <button type="button" class="nw-button nw-button--paragraph" title="Paragraph" ng-click="execCommand('formatblock', '<p>')"></button>
    </li><!--
    --><li class="nw-toolbar__item">
      <button type="button" class="nw-button nw-button--unordered-list" title="Unordered List" ng-click="execCommand('insertunorderedlist')"></button>
    </li><!--
    --><li class="nw-toolbar__item">
      <button type="button" class="nw-button nw-button--ordered-list" title="Ordered List" ng-click="execCommand('insertorderedlist')"></button>
    </li><!--
    --><li class="nw-toolbar__item">
      <button type="button" class="nw-button nw-button--bold" title="Bold" ng-click="execCommand('bold')"></button>
    </li><!--
    --><li class="nw-toolbar__item">
      <button type="button" class="nw-button nw-button--italic" title="Italic" ng-click="execCommand('italic')"></button>
    </li><!--
    --><li class="nw-toolbar__item">
      <button type="button" class="nw-button nw-button--link" title="link" ng-click="execCommand('createlink')"></button>
    </li><!--
    --><li class="nw-toolbar__item">
      <button type="button" class="nw-button nw-button--source" ng-class="{ 'nw-button--active': editMode }" ng-click="toggleEditMode()"></button>
    </li>
  </ul>

  <div class="nw-editor-container">
    <div class="nw-editor">
      <textarea class="nw-editor__src" ng-show="editMode" ng-model="content"></textarea>
      <div ng-class="{'nw-invisible': editMode, 'nw-autoexpand': autoexpand}" class="nw-editor__res" ng-model="content" richtext-editable-directive></div>
    </div>
  </div>
</div>
