<ul class="list-group" style="margin-bottom:3px">
	<li class="list-group-item" style="background-color:#f1f1f1;text-align: center">
		<b>Form Elements</b>
		<!--<input ng-model="stencilFilter" type="text" class="form-control" placeholder="Filter search"/>
	--></li>
	<li class="list-group-item" style="padding:0">
		<ul class="form-element-stencils-container">
			<li ng-repeat="type in types | filter: {type: stencilFilter}" ng-class="{'form-element-stencil':true, 'form-element-stencil-first': $index%2 == 0, 'stencil-inactive': !type.active}" ng-init="type.dropzone = configs.dropzone" form-element-stencil-directive="type" title="{{type.description}}">
				<div class="form-element-stencil-inner">
					<div class="form-element-stencil-icon"><i class="fa {{type.icon}} fa-3x"></i></div>
					<div class="form-element-stencil-text">{{type.type}}</div>
				</div>
			</li>
		</ul>
	</li>
</ul>