<div>

<div class="card">

		<button ng-hide="form.isPublished()" ng-disabled="!form.name" ng-click="save()" class="btn btn-primary btn-block">Save</button>
		<button ng-hide="form.isPublished()" ng-click="publish()" class="btn btn-primary btn-block">Publish</button>
		<button ng-disabled="!form.isPublished()" class="btn btn-primary btn- btn-block" ng-click="dialog('createFormInstance', {template: form})">
			Raise <span class="hide-m">Form</span>
		</button>
		<hr/>
		<a style="color:#fff" class="btn btn-info btn-block" ng-href="?app=forms&_action=template&id={{id}}">
			<i class="fa fa-level-down"></i> Export <span class="hide-m">Form</span>
		</a>
</div>
<div ng-if="!form.isPublished()" class="card note">
	<b>Variables</b>
	<i>can be used on form title, description, questions and helper text.</i>
	<table class="table table-condensed" style="margin:10px 0 0 0">
		<tr ng-repeat="(key, value) in tokens"><td>${{key}}$</td></tr>
	</table>
</div>

<div ng-show="form.version_history" class="card">
	<b>Version History</b>
	<div>
		<table class="table table-condensed" style="margin:10px 0 0 0">
			<tr ng-repeat="lf in form.version_history"><td><a href="#/templates/{{lf.id}}">v{{lf.version}} <span ng-show="$index == 0"> (latest)</span></a> {{lf.date_created | DatetimeFilter}}</td></tr>
		</table>
	</div>
</div>

<div ng-show="form.linked_forms" class="card">
	<b>Linked Forms</b>
	<div>
		<table class="table table-condensed" style="margin:10px 0 0 0">
			<tr ng-repeat="lf in form.linked_forms"><td><a href="#/form/{{lf.id}}">{{lf.id}} by {{lf.username}}</a></td></tr>
		</table>
	</div>
</div>
</div>