<div class="row">
	<div class="col-md-10">
		<div upload-directive style="margin:auto;width:200px" ng-model="import"></div>
	</div>

	<div class="col-md-2">
		<div affix-directive="{offset:100}" require-directive="templateSideBarTpl"></div>
	</div>
</div>

