<div class="row">
	<div class="col-md-2">
		<ul class="list-group">
			<li ng-click="configs.formSettingTab ='display'" ng-class="{'list-group-item': true, 'active': configs.formSettingTab == 'display'}">Display</li>
		</ul>
	</div>
	<div class="col-md-10">
		<div class="row">

			<div class="col-md-9">
				<div class="card form-horizontal">


					<h1 style="margin-top:0;font-size:18px">Display settings</h1>
					<p class="lead">Header</p>
					<div ng-show="!form.isPublished()">
						<div class="row">
							<div class="col-sm-3">
								<div upload-directive="{remove:removeHeaderFile, allowedExtensions:['jpeg', 'png', 'jpg', 'gif'], dialog:true, current:form.meta.header.logo, params:{as_id: $root.$routeState.params.id, dir:'form', as_type: 'F'}}" ng-model="form.meta.header.logo"></div>
								<!--<button class="btn btn-primary" ng-click="form.meta.header.logo = false">Remove attachment</button>
							--></div>
							<div class="col-sm-9">
								<wysiwyg  textarea-class="form-control" textarea-height="180px" ng-model="form.meta.header.text" enable-bootstrap-title="true"></wysiwyg>
							</div>
						</div>
					</div>
					<div ng-show="form.isPublished()">
						<div require-directive="headerFormElementTpl"></div>
					</div>

				</div>
			</div>
			<div class="col-md-3">
				<div require-directive="templateSideBarTpl"></div>
			</div>

		</div>


	</div>


</div>

