
<div ng-if="!form.isPublished()">

		<div class="row">
			<div class="col-md-2">
				<div affix-directive="{offset:100}" require-directive="elementStencilMenuTpl"></div>
			</div>
			<div class="col-md-8">
				<div class="form-elements" form-collection-manager-directive="form.json_schema" form-element-stencil-dropzone="main"></div>
			</div>
			<div class="col-md-2">
				<div affix-directive="{offset:100}" require-directive="templateSideBarTpl"></div>
			</div>
		</div>

</div>

<div ng-if="form.isPublished()">
	<div style="max-width:600px;margin:auto">
		<br/><br/>
		<div class="jumbotron">
			<h1>Published</h1>
			<div class="lead"> You cannot make changes to this form as it is published.</div>
		</div>
	</div>
</div>