<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div cloak-directive="form" template-on-load="Loading..." template-on-fail="splashMessageTpl">
					<br/>
					<div ng-show="form.status == 'published'" class="alert alert-info">
						<div class="row">
							<div class="col-md-6">
								<b style="font-size:15px;margin-top:3px">Version {{form.version}} is published and cannot be edited. <!--The latest version of this template is v{{form.current_version}}--></b>
							</div>
							<div class="col-md-6 text-right">
								<button ng-click="createVersion()" class="btn btn-primary">New version</button>
							</div>
						</div>
						


					</div>

					<div class="card">
						<div class="editable-field title"><input ng-disabled="form.isPublished()" ng-model="form.name" placeholder="Enter form title" type="text"/></div>
						<div class="editable-field"><textarea ng-disabled="form.isPublished()" placeholder="Enter form description" ng-model="form.description"></textarea>
						</div>

						<div class="row">
							<div class="col-md-6">
								<i ng-show="form.parent_meta">Created from: <a href="#/templates/{{form.parent_meta.id}}">{{form.parent_meta.name}} v{{form.parent_meta.version}}</a></i>
							</div>
							<div class="col-md-6">
								<div class="text-right">
									<span class="badge badge-info" style="background-color:#bbf;color:#fff;font-weight:400">version {{form.version}}</span>
									<i ng-show="form.current_version-form.version">({{form.current_version-form.version}} versions old)</i>
									<i ng-show="!(form.current_version-form.version)">(Latest version)</i>
								</div>
							</div>
						</div>

					</div>
					<br/>

					<!--<div>
						<div class="row">
							<div class="col-md-6">
								<a class="btn btn-info" ng-click="dialog('createFormInstance', {template: form})">
									Export <span class="hide-m">Form</span>
								</a>

							</div>
							<div class="col-md-6 text-right">

									<button ng-hide="form.isPublished()" ng-disabled="!form.name" ng-click="save()" class="btn btn-primary">Save</button>
									<button ng-hide="form.isPublished()" ng-click="publish()" class="btn btn-primary">Publish</button>
									<button ng-disabled="form.status == 'draft'" class="btn btn-primary btn-xs" ng-click="dialog('createFormInstance', {template: form})">
										Create <span class="hide-m">form from template</span>
									</button>
									<br/>
									<br/>

							</div>
						</div>
					</div>-->


				<ul class="section">
					<li ng-class="{active: configs.tab == 'builder'}" ng-click="configs.tab = 'builder'"><i class="fa fa-pencil"></i>  <span class="hide-m">Form Builder</span></li>
					<li ng-class="{active: configs.tab == 'preview'}" ng-click="configs.tab = 'preview'"><i class="fa fa-eye"></i>  <span class="hide-m">Form Preview</span></li>
					<li ng-class="{active: configs.tab == 'settings'}" ng-click="configs.tab = 'settings'"><i class="fa fa-cogs"></i>  <span class="hide-m">Form Settings</span></li>
					<li ng-class="{active: configs.tab == 'import', 'section-blue':true}" ng-click="configs.tab = 'import'"><i class="fa fa-level-up"></i>  <span class="hide-m">Importer</span></li>
				</ul>
				<div class="section-panel">
					<div require-directive="templateBuilderTpl" ng-show="configs.tab == 'builder'"></div>
					<div require-directive="templateSettingsTpl" ng-show="configs.tab == 'settings'"></div>
					<div class="row"  ng-show="configs.tab == 'preview'">
						<div class="col-md-10">
							<div class="card" style="padding:30px 40px">
								<div require-directive="headerFormElementTpl" ></div>
								<div class="row" require-directive="defaultPresentationLayoutTpl" ></div>
							</div>

						</div>
						<div class="col-md-2">
							<div require-directive="templateSideBarTpl"></div>
						</div>
					</div>

					<div require-directive="templateImportTpl" ng-show="configs.tab == 'import'"></div>


				</div>
			</div>
		</div>
	</div>
</div>
