
<div class="container">
<br/><br/>
<div class="row">
	<div class="col-sm-4 pull-right">
		<div require-directive="filterTpl"></div>
	</div>
	<div class="col-md-8">
		<div cloak-directive="forms" template-on-load="Loading..." template-on-error="Form not found">
			<div class="card">
				<table class="table">
					<thead>
						<th></th>
						<th>ID</th>
						<th>Name</th>
						<th>Created</th>
                        <th>Status</th>
						<th>Created by</th>
						<th></th>
					</thead>
					<tbody>
						<tr ng-repeat="i in forms.get()">
							<td><input type="checkbox" ng-model="i.$selected"/></td>
							<td>{{i.id}}</td>
							<td>
								<a ng-show="currentUser.canManageForms()" ng-href="#/templates/{{i.id}}">{{i.name}} v{{i.version}}</a>
								<span ng-show="!currentUser.canManageForms()" ng-href="#/templates/{{i.id}}">{{i.name}} v{{i.version}}</span>
							</td>
							<td title="{{i.date_created | FromNowFilter}}">{{i.date_created | DatetimeFilter}}</td>

                            <td>{{i.status}}</td>
							<td>{{i.username}}</td>
							<td>
                                <button ng-disabled="i.status == 'draft'" class="btn btn-primary btn-xs" ng-click="dialog('createFormInstance', {template: i})">
                                  <span class="hide-m">New</span>
                                </button>
                            </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


</div>
