<div class="container">
	<div style="max-width:600px;margin:auto">
		<br/><br/>
		<div class="jumbotron">
			<h1>Access Denied</h1>
			<p class="lead">You do not have the required resources</p>
		</div>
	</div>
</div>