<div class="spotlight spotlight-modal modal-position-small" style="margin-top:150px">
    <div class="spotlight-header">
        <h1>Are you sure? <button type="button" class="close"  ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h1>
    </div>
    <div class="spotlight-body">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">

				

              </div>
            </div>
        </div>
	</div>
	<div class="spotlight-footer">
        <button ng-click="close()" type="button" class="btn btn-default">Cancel</button>
        <button ng-click="confirm()" type="button" class="btn btn-primary">Yes</button>
	</div>
</div>
