<div class="spotlight spotlight-modal modal-position-{{params.style}}" style="margin-top:150px">
    <div ng-show="params.header" class="spotlight-header">
        <h1>{{params.header}} <button type="button" class="close"  ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h1>
    </div>
    <div ng-show="params.body" class="spotlight-body">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
								<div to-html-directive="params.body"></div>
              </div>
            </div>
        </div>
	</div>
	<div class="spotlight-footer">
        <button ng-click="close()" type="button" class="btn btn-default">Cancel</button>
        <button ng-click="confirm()" type="button" class="btn btn-primary">Confirm</button>
	</div>
</div>
