<div class="spotlight-cols spotlight-modal modal-position-middle">

    <div class="spotlight-col" style="max-height: 600px;">

        <div class="spotlight-ol-inner">

            <ul class="spotlight-menu">
                <li ng-click="tab='upload'" ng-class="{cursor:true,active: tab=='upload'}">Upload</li>
                <li ng-click="tab='fromFile'" ng-class="{cursor:true,active: tab=='fromFile'}">Select from file</li>
            </ul>
        </div>
    </div>
    <div class="spotlight-col spotlight-col3" style="max-height: 600px;background-color:#f1f3f6">
        <div class="spotlight-col-inner">


            <div ng-show="tab=='fromFile'">

                <form ng-submit="search(searchParams.term)">
                        <table class="plain">
                            <td style="width:100%">
															<!-- ng-change="search(searchTerm)"-->
                                <input type="text"
                                    ng-model="searchParams.term"
                                    class="upload-search-box"
                                    placeholder="Search for files and hit enter" type="text"/>
                            </td>
                            <td style="width:20px">
                                <button  class="btn btn-primary no-left-radius" style="padding:10px 10px 9px 10px" ng-click="search(searchParams.term)"><i class="fa fa-search"></i></button>
                            </td>
                        </table>
												<div class="controls">
														Search by
														<label ng-repeat="s in searchables"><input ng-model="s.value" type="checkbox" ng-model="s.value"/> {{s.label}}&nbsp;&nbsp;</label>
												</div>

                </form>

                <div class="upload-search-results shadow-inset-top">
                    <div cloak-directive="files">
                        <table class="table">
                            <thead>
                                <th>File name</th>
                                <th>Category</th>
                                <th>Created</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="i in files.items.get()">
                                    <td>
																			<span ng-if="!searchables.name.value" title="{{i.orig_name}}">{{i.orig_name | TruncateFilter:50}}</span>
																			<span ng-if="searchables.name.value" highlight-directie highlight-needle="{{searchParams.term}}" highlight-stack="{{i.orig_name}}" title="{{i.orig_name}}">{{i.orig_name}}</span>
																		</td>
                                    <td>
																			<span ng-if="!searchables.category.value" title="{{i.dir}}">{{i.dir}}</span>
																			<span ng-if="searchables.category.value" highlight-directive highlight-needle="{{searchParams.term}}" highlight-stack="{{i.dir}}" title="{{i.dir}}"></span>
																		</td>
                                    <td title="{{i.created | FromNowFilter}}">{{i.created | DatetimeFilter}}</td>
                                    <td><button class="btn btn-mini" style="padding-top:2px;padding-bottom:2px" ng-click="selectFile(i)">use</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
							<div class="text-right" style="margin-top:20px;">
									<pagination class="pull-left" total-items="files.p.total" items-per-page="files.p.rpp" ng-model="searchParams.page" max-size="10"  page="searchParams.page" class="pagination-sm"  boundary-links="false" rotate="false"></pagination>

									<button ng-click="close()" type="button" class="btn btn-default">Cancel</button>
								</div>
            </div>



            <div ng-show="tab=='upload'">
                <div class="upload-directive-region" require-directive="uploadInputTpl"></div>
								<div class="text-right">
									<button ng-click="close()" type="button" class="btn btn-default">Cancel</button>
								</div>
            </div>



        </div>
    </div>


</div>



