
<div>

	<div ng-hde="file">
		<div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files, {array: config.params});" ng-file-drop-available="dropSupported=true">

				<div ng-hide="file">
					Drop file inside here to upload.
					<p ng-show="config.allowedExtensions">Allowed file extensions ({{config.allowedExtensions.join(' | ')}})</p>
				</div>
				<div title="{{file.orig_name}}" ng-show="file">

					<div ng-if="file.source.origin.image">
						<div ng-if="file.source.thumbnail.url">
							<a target="_blank" ng-href="{{file.source.origin.url}}">
								<img class="img-responsive" ng-src="{{file.source.thumbnail.url}}"/>
							</a>
						</div>
						<div ng-if="!file.source.thumbnail.url && file.source.origin.url">
							<a ng-show="file" ng-href="{{file.source.origin.url}}">
								<img class="img-responsive" ng-src="{{file.source.origin.url}}"/>
							</a>
						</div>
					</div>

					<a ng-href="{{file.source.origin.url}}">
						<div ng-if="!file.source.origin.image">
								<span class="drop-box-extension">{{file.source.origin.extension}}</span>
						</div>
						{{file.orig_name | TruncateFilter: 20}}
					</a>

				</div>

		</div>
	
		<div style="margin:auto;" ng-file-drop-available="dropSupported=true"  ng-hide="file">
			OR
			<input name='file' type="file" ng-file-select="onFileSelect($files, {array: config.params})"/>
		</div>
		<div class="text-center">
			<br/>
			<button ng-show="file" class="btn btn-primary" ng-click="remove()">Remove attachment</button>
		</div>
	</div>

	<!--<button ng-show="file" class="btn btn-primary" ng-click="remove(file.fid)">Delete attachment</button>-->

	<div to-html-directive="error"></div>
</div>