
<div class="container">

	<br/>

	<div cloak-directive="form" template-on-fail="splashMessageTpl">

		<div class="form-page">
			<div class="form-page-inner">

				<h1>{{form.name | TokenReplaceFilter: entity}}</h1>
				<p class="lead">{{form.description | TokenReplaceFilter: entity}}</p>

				<p ng-show="entity.job.jid">Linked to: <b>{{entity.job.description}} - ({{entity.job.jid}})</b></p>
				<p ng-show="currentUser.canManageForms() && form.template_id">Template: <a href="#/templates/{{form.template_id}}">{{form.name}} v{{form.version}}</a></p>

				<select ng-model="form.align">
					<option value="top">Align Top</option>
					<option value="left">Align Left</option>
				</select>

				<div cloak-directive="form">
					<form name="formInstance" ng-submi="dialog('confirm')" novalidate>

						<div ng-show="currentUser.canFillForm()" class="text-right">

							<button ng-click="save()" class="btn btn-primary">Save</button>
							<br/><br/>
						</div>

						<div require-directive="headerFormElementTpl"></div>
						<div ng-switch="form.presentation">
							<div ng-switch-when="other">
								<div require-directive="otherPresentationLayoutTpl"></div>
							</div>
							<div ng-switch-default="default">
								<div require-directive="defaultPresentationLayoutTpl"></div>
							</div>
						</div>

						<br/><br/>
						<div ng-show="currentUser.canFillForm()" class="row">
							<div class="col-md-12 text-right">
								<button ng-click="save()" class="btn btn-primary">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>