
<div class="container">
    <br/><br/>
    <div class="row">
    	<div class="col-sm-4 pull-right">
				<div require-directive="filterTpl"></div>
			</div>
    	<div class="col-md-8">
    		<div cloak-directive="forms" template-on-load="Loading..." template-on-error="Form not found">
    			<div class="card">
    				<table class="table">
    					<thead>
    						<th></th>
    						<th>ID</th>
    						<th>Name</th>
    						<th>Created</th>
    					</thead>
    					<tbody>
    						<tr ng-repeat="i in forms.get()">
    							<td><input type="checkbox" ng-model="i.$selected"/></td>
    							<td>{{i.id}}</td>
    							<td><a ng-href="#/form/{{i.id}}">{{i.username}}:: Form {{i.id}} ({{i.name}} v{{i.version}})</a></td>
    							<td>{{i.date_created | DatetimeFilter}}</td>
    						</tr>
    					</tbody>
    				</table>
    			</div>
    		</div>
    	</div>
    </div>
</div>
