<div ng-class="{row: hasRow}" ng-switch="i.type">
	<div ng-switch-when="header"></div>
	<div ng-switch-when="freetext || sectionbreak">
		<div require-directive="{{i.type}}FormElementTpl" require-default="defaultFormElementTpl"></div>
	</div>
	<br/>
	<div ng-switch-default>

		<div ng-class="{'col-md-3': form.align == 'left', 'col-md-12': form.align == 'top'}">
			<p class="lead" style="margin:20px 0 5px 0">
				<b>
					<span ng-show="$parent.$parent.$numberedIndex">{{$parent.$parent.$numberedIndex}}.</span>
					{{$numberedIndex}}&nbsp;&nbsp;&nbsp;{{i.question | TokenReplaceFilter: entity}}
					<span class="form-validation-required" title="This is a required question" ng-show="i.required">*</span>
				</b>
			</p>
			<p ng-show="form.align == 'top'" class="pre help-block">{{i.helper_text | TokenReplaceFilter: entity}}</p>
		</div>

		<div ng-class="{'col-md-9': form.align == 'left', 'col-md-12': form.align == 'top'}">
			<div ng-switch="i.type">
				<div ng-switch-default>
					<div require-directive="{{i.type}}FormElementTpl" require-default="defaultFormElementTpl"></div>
				</div>
			</div>
			<p ng-show="form.align == 'left'" class="pre help-block">{{i.helper_text | TokenReplaceFilter: entity}}</p>
		</div>

	</div>
</div>