<div cloak-directive="random">
	<table class="table">
		<thead>
			<th></th>
			<th ng-repeat="el in settings.blueprint track by $index">{{el.question}}</th>
		</thead>
		<tbody>
			<tr ng-repeat="item in items">
				<th>{{item.item.id}} - {{item.item.value}}</th>
				<td ng-repeat="i in item.blueprint track by $index" ng-init="i.name = i.name + '_' + $parent.$index">
					<div require-directive="{{i.type}}FormElementTpl" require-default="defaultFormElementTpl"></div>
				</td>
			</tr>
		</tbody>
	</table>
</div>