
<div class="container">
    <div class="row">
        <div class="col-md-12">
					<p class="muted">&copy; <span datetime-directive="{current:true, format:'yyyy'}"></span> Elogbooks. All rights reserved</p>
        </div>
    </div>
</div>