<div class="container">
	<div style="max-width:600px;margin:auto">
		<br/><br/>
		<div class="jumbotron">
			<h1>{{header}}</h1>
			<div ng-show="body" to-html-directive="body" class="lead"></div>
		</div>
	</div>
</div>