<div class="spotlight spotlight-modal modal-position-standard" style="margin-top:150px">
    <div class="spotlight-header">
        <h1>Create new form<button type="button" class="close"  ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h1>
    </div>
    <div class="spotlight-body">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">

					<div class="form-horizontal">
						<!--<div class="form-group">
							<label class="col-md-2 control-label">Choose a form</label>
							<div class="col-md-10">
								<input type="hidden"
									ui-select2='select2Suggest'
									class="form-control"
									ng-model="params.template"
									data-search="form_template",
									data-method="versions",
									data-select="type"
									data-search-on="name,id"/>
							</div>
						</div>-->

						<div class="form-group" ng-show="params.template.type == 'job'">
							<label class="col-md-2 control-label">Link to job</label>
							<div class="col-md-10">
								<input type="hidden"
									ui-select2='select2Suggest'
									class="form-control"
									ng-model="params.entity"
									data-search="{{params.template.type}}",
									data-search-on="description,jid"/>
							</div>
						</div>

						
					</div>

              </div>
            </div>
        </div>
	</div>
	<div class="spotlight-footer">
        <button ng-click="close()" type="button" class="btn btn-default">Cancel</button>
        <button ng-disabled="!(params.template.id && params.entity.id)" ng-click="confirm()" type="button" class="btn btn-primary">Create</button>
	</div>
</div>
