<div class="spotlight spotlight-modal modal-position-standard" style="margin-top:150px">
    <div class="spotlight-header">
        <h1>New form template<button type="button" class="close"  ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h1>
    </div>
    <div class="spotlight-body">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">

					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">Name</label>
							<div class="col-sm-10">
								<input ng-model="params.name" type="text" class="form-control" placeholder="Form name">
							</div>
						</div>
						<div class="form-group">
						<label class="col-sm-2 control-label">Description</label>
							<div class="col-sm-10">
								<textarea ng-model="params.description" class="form-control" placeholder="Description"></textarea>
							</div>
						</div>
						<div class="form-group">
						<label class="col-sm-2 control-label">Form type</label>
							<div class="col-sm-10">
								<select class="form-control" ng-model="params.type">
									<option value="job">Job</option>
								</select>
							</div>
						</div>
					</div>

              </div>
            </div>
        </div>
	</div>
	<div class="spotlight-footer">
        <button ng-click="close()" type="button" class="btn btn-default">Cancel</button>
        <button ng-disabled="!params.name" ng-click="confirm()" type="button" class="btn btn-primary">Create</button>
	</div>
</div>
