<div class="spotlight spotlight-modal modal-position-middle">
	<div class="spotlight-header">
			<h1>Edit text<button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h1>
	</div>
	<div class="spotlight-body">
			<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<wysiwyg ng-show="params.type == 'header'" wysiwyg textarea-class="form-control" textarea-height="180px" ng-model="params.header_text" enable-bootstrap-title="true"></wysiwyg>
							<wysiwyg ng-show="params.type == 'freetext'" wysiwyg textarea-class="form-control" textarea-height="180px" ng-model="params.freetext" enable-bootstrap-title="true"></wysiwyg>
						</div>
					</div>
			</div>
	</div>
	<div class="spotlight-footer">
        <button ng-click="close()" type="button" class="btn btn-default">Cancel</button>
        <button ng-click="confirm()" type="button" class="btn btn-primary">Save</button>
	</div>
</div>
