<div class="spotlight spotlight-modal modal-position-wide">
    <div class="spotlight-header">
        <h1>Subform Settings<button type="button" class="close"  ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h1>
    </div>
    <div class="spotlight-body">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
									<div class="form-horizontal">
										<div class="row">
											<div class="col-md-3">
												<div require-directive="elementStencilMenuTpl"></div>
											</div>
											<div class="col-md-7">
												<div class="spotlight-footer">
															<button ng-click="close()" type="button" class="btn btn-default">Cancel</button>
															<button ng-click="confirm()" type="button" class="btn btn-primary">Save</button>
												</div>
												<div style="max-height:500px;padding-right:20px;overflow:hidden;overflow-y:scroll;">
													<div class="form-elements" form-collection-manager-directive="params.subform" form-element-stencil-dropzone="subform"></div>
												</div>
											</div>

											<div class="col-md-2">
												<div require-directive="templateSideBarTpl"></div>
											</div>

										</div>
									</div>
              </div>
            </div>
        </div>
	</div>
	<div class="spotlight-footer">
        <button ng-click="close()" type="button" class="btn btn-default">Cancel</button>
        <button ng-disabled="!(params.template.id && params.entity.id)" ng-click="confirm()" type="button" class="btn btn-primary">Create</button>
	</div>
</div>
