<form class="spotlight" ng-submit="search_job(job.page, job.fields)">
<div class="spotlight-body">
<!--<div class="form-group">
		<label>Enter Property name, reference</label>
		<input type="hidden" ui-select2='select2Suggest'
				ng-model="job.fields.cid"
				data-placeholder="Pick a property"
				class="form-control"
				data-search="customer"
				data-search-on="customer,ref"/>
</div>

<div class="form-group">
<label>Job number</label>
		<input ng-model="job.fields.jid" type="text" class="form-control" placeholder="Enter job number">
</div>

<div class="form-group">
		<label>Description</label>
		<input ng-model="job.fields.description" type="text" class="form-control" placeholder="Enter description">
</div>

<div class="form-group">
		<p><b>Created between:</b></p>

		<div class="row">
				<div class="col-md-6">
						<label>Start date</label>
						<input datepicker-popup="dd/MM/yyyy" ng-model="job.fields.created_between.s" type="text" class="form-control" placeholder="dd/mm/yyyy">
				</div>
				<div class="col-md-6">
						<label>End date</label>
						<input datepicker-popup="dd/MM/yyyy" ng-model="job.fields.created_between.e" type="text" class="form-control" placeholder="dd/mm/yyyy">
				</div>
		</div>
</div>

<div class="form-group">
		<label>Reported by</label>
		<input ng-model="job.fields.rep_by" type="text" class="form-control" placeholder="Enter reported by">
</div>

<div class="form-group">
		<label>Keyholder required?</label>
		<select class="form-control" ng-model="job.fields.keyholder_req">
				<option value="">Any</option>
				<option value="Y">Yes</option>
				<option value="N">No</option>
		</select>
</div>-->
</div>
<div class="spotlight-footer text-right">
<button type="button" ng-click="job.fields = {};searchJob(job.page, job.fields);" class="btn btn-default">Reset</button>
<button type="submit" ng-click="searchJob(job.page, job.fields)" class="btn btn-default">Search</button>
</div>
</form>