<div affix-directive="{}" class="header" style="background-color:#fff">
    <div id="main-nav" class="navbar" role="navigation">
        <div class="container">
            <div class="row">
                <span style="margin:0 0 15px 25px" class="pull-left">
                  <a id="logo" style="margin-top:23px" href="#/">Forms</a>
                  <span id="brand-app">/ Forms</span>
                </span>
                <ul style="margin-bottom:0" class="nav navbar-nav navbar-right">

                  <li ng-show="currentUser.canFillForm() || currentUser.canRaiseForm()">
                      <a ng-class="{cursor:true, current: $routeState.controller == 'FormPage' || $routeState.controller == 'FormsPage'}" class="cursor" ng-href="#/">
                          <center><i class="fa fa-file-text fa-3x"></i><br/>Forms</center>
                      </a>
                  </li>
                  <li ng-show="currentUser.canRaiseForm() || currentUser.canManageForms()">
                      <a ng-class="{cursor:true, current: $routeState.controller == 'TemplatesPage' || $routeState.controller == 'TemplatePage'}" class="cursor" ng-href="#/templates">
                          <center><i class="fa fa-files-o fa-3x"></i><br/>Templates</center>
                      </a>
                  </li>
                  <li ng-show="currentUser.canManageForms()">
                      <button style="margin:20px 20px 30px 20px" class="btn btn-primary" ng-click="dialog('createFormTemplate')">
                          <i class="fa fa-plus"></i> <span class="hide-m">New Form Template</span>
                      </button>
                  </li>
                  <!--<li style="border-right:0">
                      <button style="margin:20px 0 15px 20px" class="btn btn-primary" ng-click="saveForm()">
                          <i class="fa fa-plus"></i> <span class="hide-m">Test Link Form</span>
                      </button>
                  </li>-->

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container"><h1 ng-cloak>{{$routeState.title}}</h1></div>