<div ng-repeat="i in elements.get()">
	<div ng-switch="i.type">
		<div class="row" ng-switch-when="sectionbreak">
			<div class="col-sm-12"><hr/></div>
			<div ng-show="i.sectionbreak_title" class="col-sm-offset-3 col-sm-9">
				<p style="margin-bottom:0" class="lead">{{i.sectionbreak_title | TokenReplaceFilter: entity}}</p>
			</div>

		</div>

		<div class="row" ng-switch-when="header">
			<div class="col-sm-3">
				<img src="http://placehold.it/250/f1f1f1&text=company logo"/>
			</div>
			<div class="col-sm-9">
				<div class="pre" to-html-directive="i.header_text | TokenReplaceFilter: entity"></div>
			</div>
		</div>


		<br/>
		<div class="row" ng-switch-default>

			<div class="col-md-3 text-right">
				<div class="pre"><b>{{i.question | TokenReplaceFilter: entity}} <span class="form-validation-required" title="This is a required question" ng-show="i.required">*</span></b></div>
			</div>

			<div class="col-md-9">
				<div ng-switch="i.type">

					<!-- GENERIC TYPEAHEAD -->
					<div ng-switch-when="typeahead">
						<input
							type="hidden"
							ui-select2='select2Suggest'
							class="form-control"
							ng-model="i.model"
							data-search="{{i.service.service}}"
							data-search-on="{{i.service.search_on}}"/>
					</div>

					<!-- GENERIC SELECT -->
					<div ng-switch-when="select">
						<select ng-model="i.model" name="{{i.name}}" class="form-control">
							<option ng-repeat="options in i.options" value="{{options.label}}">
								{{options.label | TokenReplaceFilter: entity}}
							</option>
						</select>

					</div>

					<!-- TEXTAREA -->
					<div ng-switch-when="textarea">

						<textarea ng-if="!i.richtext" maxlength-directive="i.maxlength" rows="5" ng-model="i.model" ng-required="i.required" class="form-control"></textarea>
						<div ng-if="i.richtext" text-angular ng-model="i.model" ng-required="i.required"></div>
						<p ng-show="i.maxlength> -1"><span ng-class="{'form-validation-error': i.maxlength == i.model.length}">{{i.model.length | PlaceholdFilter: 0}}/{{i.maxlength}}</span></p>

					</div>

					<!-- STANDARD CHECKBOX AND RADIO -->
					<div ng-switch-when="checkbox || radio">
						<div class="row">
							<div class="col-md-{{i.column | PlaceholdFilter: '12'}}" ng-repeat="option in i.options">
								<label>
									<input ng-model="i.model" ng-if="i.type == 'checkbox'" ng-model="option.model" ng-required="i.required" type="{{i.type}}" name="{{i.name}}[]"/>
									<input ng-model="i.model" ng-if="i.type == 'radio'" ng-model="option.model" ng-required="i.required" type="{{i.type}}" name="{{i.name}}"/>
									{{option.label | TokenReplaceFilter: entity}}
								</label>
							</div>
						</div>
					</div>


					<!-- ANY -->
					<div ng-switch-default>
						<input ng-model="i.model" ng-required="i.required" class="form-control" type="{{i.type}}" name="{{i.name}}"/>
						<p ng-show="i.maxlength> -1"><span ng-class="{'form-validation-error': i.maxlength == i.model.length}">{{i.model.length | PlaceholdFilter: 0}}/{{i.maxlength}}</span></p>

					</div>

				</div>
				<p class="pre help-block">{{i.helper_text | TokenReplaceFilter: entity}}</p>
			</div>

		</div>
	</div>
</div>