<div>
	<div ng-hide="items.total()" class="sortable-empty-list">
			This form has no elements. Select and drag your first element here to begin creating your form.
	</div>
	<ul id="{{dropzone}}" class="form-element-collection form-element-dropzone">
		<li ng-show="items.total()" ng-repeat="element in items.get()">
			<div id="element{{element.$id}}" ng-clik="items.poxy('exclusiveSelect', element.$id)" ng-class="{'form-element-editor': true, 'form-element-active': element.$selected}" form-element-manager-directive="{item: element, items:items, id: $index}"></div>
		</li>
	</ul>
</div>
<!-- required div for container -->