
<div class="form-horizontal form-element-settings">

	<div class="form-element-handle" title="Drag this question up/down">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>

	<select class="form-control form-element-type" ng-model="input.item.type">
		<option ng-repeat="j in types" ng-value="{{j.type}}">{{j.type}}</option>
	</select>
	<span class="form-element-toggle">
		<span class="cursor" title="collapse" ng-show="!input.item.widget_open" ng-click="input.item.widget_open = true"> <i class="pull-right fa fa-plus"></i></span>
    <span class="cursor" title="expand" ng-show="input.item.widget_open" ng-click="input.item.widget_open = false"><i class="pull-right fa fa-minus"></i></span>
	</span>

	<div ng-show="!input.item.widget_open">
		<div class="row">
			<div class="col-md-12">

					<div ng-switch="input.item.type">
						<div ng-switch-when="header || sectionbreak || freetext">

						</div>

						<!--- Elements with questions -->
						<div ng-switch-default>
							<blockquote>{{input.item.question | PlaceholdFilter: 'Empty question'}}</blockquote>
						</div>
					</div>
			</div>
		</div>
	</div>
	<div ng-show="input.item.widget_open" ng-switch="input.item.type">

		<div ng-switch-when="header || sectionbreak || freetext">
			<div require-directive="{{input.item.type}}StencilEditorTpl"></div>
		</div>


		<!--- Elements with questions -->
		<div ng-switch-default>

			<div class="form-group">
				<label class="col-md-2 control-label">Question</label>
				<div class="col-md-10">
						<textarea class="form-control" ng-model="input.item.question"></textarea>
				</div>
			</div>

			<div ng-show="input.item.question">

				<!--- Checkbox & radio -->
				<div ng-switch="input.item.type">
					<div ng-switch-when="radio || checkbox || select">
						<div require-directive="optionsStencilEditorTpl"></div>
					</div>
					<div ng-switch-default>
						<div require-directive="{{input.item.type}}StencilEditorTpl" require-default="defaultStencilEditorTpl"></div>
					</div>
				</div>


				<!--- Addtional options -->

				<div class="hr-separator">
					<span class="hr-placehold">

						<span class="cursor" title="collapse" ng-show="!input.item.widget_advanced_open" ng-click="input.item.widget_advanced_open = true">More options</span>
						<span class="cursor" title="expand" ng-show="input.item.widget_advanced_open" ng-click="input.item.widget_advanced_open = false">Less options</span>
					</span>
				</div>
				<div ng-show="input.item.widget_advanced_open">

					<div class="form-group">
						<label class="col-md-2 control-label">Helper text</label>
						<div class="col-md-10">
								<textarea class="form-control" ng-model="input.item.helper_text"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<div class="checkbox">
								<label>
								<input type="checkbox" ng-model="input.item.required"/> Should this element be a mandatory field?
								</label>
							</div>
						</div>
					</div>

					<div ng-switch="input.item.type">
							<div ng-switch-when="textarea">
								<div class="form-group">
									<div class="col-md-offset-2 col-md-10">
										<div class="checkbox">
											<label>
											<input type="checkbox" ng-model="input.item.richtext"/> Make this richtext?
											</label>
										</div>
									</div>
								</div>
							</div>
							<div ng-switch-when="textarea || text">
								<div class="form-group">
									<label class="col-md-2 control-label">Limits</label>
									<div class="col-md-10">
										<select class="form-control" ng-model="input.item.maxlength">
											<option value="-1">None</option>
											<option value="255">255</option>
											<option value="1000">1000</option>
											<option value="1000">2000</option>
										</select>
										<span class="help-block">Apply a maximum character limit</span>
									</div>
								</div>

								<!--
								<div class="form-group">
									<label class="col-md-2 control-label">Max characters</label>
									<div class="col-md-10">
										<input type="number" min="-1" class="form-control" ng-model="input.item.minlength"/>

										<span class="help-block">Apply a minimum character limit</span>
									</div>
								</div>-->
							</div>

						<!--- Elements with questions -->
						<div ng-switch-default>

						</div>
					</div>



				</div>

			</div>

		</div>

  </div>
</div>

<div class="text-right">

	<button class="btn btn-default" ng-click="input.items.proxy('insert', {item:input.item, position:input.id})" title="Copy"><i class="fa fa-copy"></i></button>
	<button class="btn btn-default" ng-click="input.items.proxy('removeById', input.id)" title="Remove"><i class="fa fa-remove"></i></button>
	<button class="btn btn-default" ng-click="input.items.proxy('insert', {item:{type:'sectionbreak'}, position:input.id})" title="Add"><i class="fa fa-plus"></i></button>
	<button class="btn btn-primary" ng-click="input.items.saveForm()" title="Save"><i class="fa fa-floppy-o"></i></button>
</div>



